# PyCity Schools Analysis

- Your analysis here
  
---

In [19]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [20]:
school_data.columns

Index(['School ID', 'school_name', 'type', 'size', 'budget'], dtype='object')

In [21]:
student_data.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score'],
      dtype='object')

## District Summary

In [22]:
# Calculate the total number of unique schools
school_count = len(school_data["School ID"].unique())
school_count

15

In [23]:
# Calculate the total number of students
student_count = student_data["Student ID"].value_counts().sum()
student_count

39170

In [24]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [25]:
# Calculate the average (mean) math score
average_math_score = student_data["math_score"].mean()
average_math_score

78.98537145774827

In [26]:
# Calculate the average (mean) reading score
average_reading_score = student_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [27]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [28]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [29]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [30]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
    "Total Scools": [school_count],
    "Total Students": [student_count],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [passing_math_percentage],
    "% Passing Reading": [passing_reading_percentage],
    "% Overall Passing Rate": [overall_passing_rate]
})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Scools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [31]:
# Use the code provided to select all of the school types
school_types = school_data["type"].unique()
school_types

array(['District', 'Charter'], dtype=object)

In [32]:
# Calculate the total student count per school
per_school_counts = school_data_complete.groupby(["school_name","Student ID"]).count()
per_school_counts

                               student_name  gender  grade  reading_score  \
school_name        Student ID
Bailey High School 17871                  1       1      1              1
                   17872                  1       1      1              1
                   17873                  1       1      1              1
                   17874                  1       1      1              1
                   17875                  1       1      1              1
...                                     ...     ...    ...            ...
Wright High School 26031                  1       1      1              1
                   26032                  1       1      1              1
                   26033                  1       1      1              1
                   26034                  1       1      1              1
                   26035                  1       1      1              1

                               math_score  School ID  type  size  budget
school_name        Student ID
Bailey High School 17871                1          1     1     1       1
                   17872                1          1     1     1       1
                   17873                1          1     1     1       1
                   17874                1          1     1     1       1
                   17875                1          1     1     1       1
...                                   ...        ...   ...   ...     ...
Wright High School 26031                1          1     1     1       1
                   26032                1          1     1     1       1
                   26033                1          1     1     1       1
                   26034                1          1     1     1       1
                   26035                1          1     1     1       1

[39170 rows x 9 columns]

In [33]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data_complete.groupby('school_name')['budget'].mean()
total_students_per_school = school_data_complete.groupby('school_name')['Student ID'].count()
per_school_capita = per_school_budget / total_students_per_school

budget_spending_summary = pd.DataFrame({
    'Total School Budget': per_school_budget,
    'Per Capita Spending': per_school_capita
})

print(budget_spending_summary)

                       Total School Budget  Per Capita Spending
school_name
Bailey High School               3124928.0                628.0
Cabrera High School              1081356.0                582.0
Figueroa High School             1884411.0                639.0
Ford High School                 1763916.0                644.0
Griffin High School               917500.0                625.0
Hernandez High School            3022020.0                652.0
Holden High School                248087.0                581.0
Huang High School                1910635.0                655.0
Johnson High School              3094650.0                650.0
Pena High School                  585858.0                609.0
Rodriguez High School            2547363.0                637.0
Shelton High School              1056600.0                600.0
Thomas High School               1043130.0                638.0
Wilson High School               1319574.0                578.0
Wright High School               1049400.0                583.0

In [44]:
# Calculate the average test scores per school
per_school_math = school_data_complete.groupby('school_name')['math_score'].mean()
per_school_reading = school_data_complete.groupby('school_name')['reading_score'].mean()

print("Average Math Scores per School:")
print(per_school_math)

print("\nAverage Reading Scores per School:")
print(per_school_reading)

Average Math Scores per School:
school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

Average Reading Scores per School:
school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [45]:
# Calculate the number of students per school with math scores of 70 or higher

math_scores_70_or_higher = school_data_complete[school_data_complete['math_score'] >= 70]
student_passing_math = math_scores_70_or_higher.groupby('school_name')['Student ID'].count()
school_students_passing_math = school_data_complete.groupby('school_name')['Student ID'].count()

print("Number of Students per School Passing Math:")
print(student_passing_math)

print("\nTotal Students per School:")
print(total_students_per_school)

Number of Students per School Passing Math:
school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: Student ID, dtype: int64

Total Students per School:
school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [46]:
# Calculate the number of students per school with reading scores of 70 or higher
reading_scores_70_or_higher = school_data_complete[school_data_complete['reading_score'] >= 70]
students_passing_reading = reading_scores_70_or_higher.groupby('school_name')['Student ID'].count()
school_students_passing_reading = school_data_complete.groupby('school_name')['Student ID'].count()

print("Number of Students per School Passing Reading:")
print(students_passing_reading)

print("\nTotal Students per School:")
print(total_students_per_school)

Number of Students per School Passing Reading:
school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: Student ID, dtype: int64

Total Students per School:
school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [49]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

print("Number of Students per School Passing Both Math and Reading:")
print(school_students_passing_math_and_reading)

Number of Students per School Passing Both Math and Reading:
school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [50]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

print("Passing Rates for Math per School:")
print(per_school_passing_math)

print("\nPassing Rates for Reading per School:")
print(per_school_passing_reading)

print("\nOverall Passing Rate per School:")
print(overall_passing_rate)

Passing Rates for Math per School:
                               Bailey High School  Cabrera High School  \
school_name        Student ID
Bailey High School 17871                      NaN                  NaN
                   17872                      NaN                  NaN
                   17873                      NaN                  NaN
                   17874                      NaN                  NaN
                   17875                      NaN                  NaN
...                                           ...                  ...
Wright High School 26031                      NaN                  NaN
                   26032                      NaN                  NaN
                   26033                      NaN                  NaN
                   26034                      NaN                  NaN
                   26035                      NaN                  NaN

                               Figueroa High School  Ford High School  \
school_name        Student ID
Bailey High School 17871                        NaN               NaN
                   17872                        NaN               NaN
                   17873                        NaN               NaN
                   17874                        NaN               NaN
                   17875                        NaN               NaN
...                                             ...               ...
Wright High School 26031                        NaN               NaN
                   26032                        NaN               NaN
                   26033                        NaN               NaN
                   26034                        NaN               NaN
                   26035                        NaN               NaN

                               Griffin High School  Hernandez High School  \
school_name        Student ID
Bailey High School 17871                       NaN                    NaN
                   17872                       NaN                    NaN
                   17873                       NaN                    NaN
                   17874                       NaN                    NaN
                   17875                       NaN                    NaN
...                                            ...                    ...
Wright High School 26031                       NaN                    NaN
                   26032                       NaN                    NaN
                   26033                       NaN                    NaN
                   26034                       NaN                    NaN
                   26035                       NaN                    NaN

                               Holden High School  Huang High School  \
school_name        Student ID
Bailey High School 17871                      NaN                NaN
                   17872                      NaN                NaN
                   17873                      NaN                NaN
                   17874                      NaN                NaN
                   17875                      NaN                NaN
...                                           ...                ...
Wright High School 26031                      NaN                NaN
                   26032                      NaN                NaN
                   26033                      NaN                NaN
                   26034                      NaN                NaN
                   26035                      NaN                NaN

                               Johnson High School  Pena High School  ...  \
school_name        Student ID                                         ...
Bailey High School 17871                       NaN               NaN  ...
                   17872                       NaN               NaN  ...
                   17873                       NaN               NaN  ...
                   17874                       NaN               NaN  ...
                   17875                       NaN               NaN  ...
...                                            ...               ...  ...
Wright High School 26031                       NaN               NaN  ...
                   26032                       NaN               NaN  ...
                   26033                       NaN               NaN  ...
                   26034                       NaN               NaN  ...
                   26035                       NaN               NaN  ...

                               Wilson High School  Wright High School  budget  \
school_name        Student ID
Bailey High School 17871                      NaN                 NaN     NaN
                   17872                      NaN                 NaN     NaN
                   17873                      NaN                 NaN     NaN
                   17874                      NaN                 NaN     NaN
                   17875                      NaN                 NaN     NaN
...                                           ...                 ...     ...
Wright High School 26031                      NaN                 NaN     NaN
                   26032                      NaN                 NaN     NaN
                   26033                      NaN                 NaN     NaN
                   26034                      NaN                 NaN     NaN
                   26035                      NaN                 NaN     NaN

                               gender  grade  math_score  reading_score  size  \
school_name        Student ID
Bailey High School 17871          NaN    NaN         NaN            NaN   NaN
                   17872          NaN    NaN         NaN            NaN   NaN
                   17873          NaN    NaN         NaN            NaN   NaN
                   17874          NaN    NaN         NaN            NaN   NaN
                   17875          NaN    NaN         NaN            NaN   NaN
...                               ...    ...         ...            ...   ...
Wright High School 26031          NaN    NaN         NaN            NaN   NaN
                   26032          NaN    NaN         NaN            NaN   NaN
                   26033          NaN    NaN         NaN            NaN   NaN
                   26034          NaN    NaN         NaN            NaN   NaN
                   26035          NaN    NaN         NaN            NaN   NaN

                               student_name  type
school_name        Student ID
Bailey High School 17871                NaN   NaN
                   17872                NaN   NaN
                   17873                NaN   NaN
                   17874                NaN   NaN
                   17875                NaN   NaN
...                                     ...   ...
Wright High School 26031                NaN   NaN
                   26032                NaN   NaN
                   26033                NaN   NaN
                   26034                NaN   NaN
                   26035                NaN   NaN

[39170 rows x 24 columns]

Passing Rates for Reading per School:
                               Bailey High School  Cabrera High School  \
school_name        Student ID
Bailey High School 17871                      NaN                  NaN
                   17872                      NaN                  NaN
                   17873                      NaN                  NaN
                   17874                      NaN                  NaN
                   17875                      NaN                  NaN
...                                           ...                  ...
Wright High School 26031                      NaN                  NaN
                   26032                      NaN                  NaN
                   26033                      NaN                  NaN
                   26034                      NaN                  NaN
                   26035                      NaN                  NaN

                               Figueroa High School  Ford High School  \
school_name        Student ID
Bailey High School 17871                        NaN               NaN
                   17872                        NaN               NaN
                   17873                        NaN               NaN
                   17874                        NaN               NaN
                   17875                        NaN               NaN
...                                             ...               ...
Wright High School 26031                        NaN               NaN
                   26032                        NaN               NaN
                   26033                        NaN               NaN
                   26034                        NaN               NaN
                   26035                        NaN               NaN

                               Griffin High School  Hernandez High School  \
school_name        Student ID
Bailey High School 17871                       NaN                    NaN
                   17872                       NaN                    NaN
                   17873                       NaN                    NaN
                   17874                       NaN                    NaN
                   17875                       NaN                    NaN
...                                            ...                    ...
Wright High School 26031                       NaN                    NaN
                   26032                       NaN                    NaN
                   26033                       NaN                    NaN
                   26034                       NaN                    NaN
                   26035                       NaN                    NaN

                               Holden High School  Huang High School  \
school_name        Student ID
Bailey High School 17871                      NaN                NaN
                   17872                      NaN                NaN
                   17873                      NaN                NaN
                   17874                      NaN                NaN
                   17875                      NaN                NaN
...                                           ...                ...
Wright High School 26031                      NaN                NaN
                   26032                      NaN                NaN
                   26033                      NaN                NaN
                   26034                      NaN                NaN
                   26035                      NaN                NaN

                               Johnson High School  Pena High School  ...  \
school_name        Student ID                                         ...
Bailey High School 17871                       NaN               NaN  ...
                   17872                       NaN               NaN  ...
                   17873                       NaN               NaN  ...
                   17874                       NaN               NaN  ...
                   17875                       NaN               NaN  ...
...                                            ...               ...  ...
Wright High School 26031                       NaN               NaN  ...
                   26032                       NaN               NaN  ...
                   26033                       NaN               NaN  ...
                   26034                       NaN               NaN  ...
                   26035                       NaN               NaN  ...

                               Wilson High School  Wright High School  budget  \
school_name        Student ID
Bailey High School 17871                      NaN                 NaN     NaN
                   17872                      NaN                 NaN     NaN
                   17873                      NaN                 NaN     NaN
                   17874                      NaN                 NaN     NaN
                   17875                      NaN                 NaN     NaN
...                                           ...                 ...     ...
Wright High School 26031                      NaN                 NaN     NaN
                   26032                      NaN                 NaN     NaN
                   26033                      NaN                 NaN     NaN
                   26034                      NaN                 NaN     NaN
                   26035                      NaN                 NaN     NaN

                               gender  grade  math_score  reading_score  size  \
school_name        Student ID
Bailey High School 17871          NaN    NaN         NaN            NaN   NaN
                   17872          NaN    NaN         NaN            NaN   NaN
                   17873          NaN    NaN         NaN            NaN   NaN
                   17874          NaN    NaN         NaN            NaN   NaN
                   17875          NaN    NaN         NaN            NaN   NaN
...                               ...    ...         ...            ...   ...
Wright High School 26031          NaN    NaN         NaN            NaN   NaN
                   26032          NaN    NaN         NaN            NaN   NaN
                   26033          NaN    NaN         NaN            NaN   NaN
                   26034          NaN    NaN         NaN            NaN   NaN
                   26035          NaN    NaN         NaN            NaN   NaN

                               student_name  type
school_name        Student ID
Bailey High School 17871                NaN   NaN
                   17872                NaN   NaN
                   17873                NaN   NaN
                   17874                NaN   NaN
                   17875                NaN   NaN
...                                     ...   ...
Wright High School 26031                NaN   NaN
                   26032                NaN   NaN
                   26033                NaN   NaN
                   26034                NaN   NaN
                   26035                NaN   NaN

[39170 rows x 24 columns]

Overall Passing Rate per School:
                               Bailey High School  Cabrera High School  \
school_name        Student ID
Bailey High School 17871                      NaN                  NaN
                   17872                      NaN                  NaN
                   17873                      NaN                  NaN
                   17874                      NaN                  NaN
                   17875                      NaN                  NaN
...                                           ...                  ...
Wright High School 26031                      NaN                  NaN
                   26032                      NaN                  NaN
                   26033                      NaN                  NaN
                   26034                      NaN                  NaN
                   26035                      NaN                  NaN

                               Figueroa High School  Ford High School  \
school_name        Student ID
Bailey High School 17871                        NaN               NaN
                   17872                        NaN               NaN
                   17873                        NaN               NaN
                   17874                        NaN               NaN
                   17875                        NaN               NaN
...                                             ...               ...
Wright High School 26031                        NaN               NaN
                   26032                        NaN               NaN
                   26033                        NaN               NaN
                   26034                        NaN               NaN
                   26035                        NaN               NaN

                               Griffin High School  Hernandez High School  \
school_name        Student ID
Bailey High School 17871                       NaN                    NaN
                   17872                       NaN                    NaN
                   17873                       NaN                    NaN
                   17874                       NaN                    NaN
                   17875                       NaN                    NaN
...                                            ...                    ...
Wright High School 26031                       NaN                    NaN
                   26032                       NaN                    NaN
                   26033                       NaN                    NaN
                   26034                       NaN                    NaN
                   26035                       NaN                    NaN

                               Holden High School  Huang High School  \
school_name        Student ID
Bailey High School 17871                      NaN                NaN
                   17872                      NaN                NaN
                   17873                      NaN                NaN
                   17874                      NaN                NaN
                   17875                      NaN                NaN
...                                           ...                ...
Wright High School 26031                      NaN                NaN
                   26032                      NaN                NaN
                   26033                      NaN                NaN
                   26034                      NaN                NaN
                   26035                      NaN                NaN

                               Johnson High School  Pena High School  ...  \
school_name        Student ID                                         ...
Bailey High School 17871                       NaN               NaN  ...
                   17872                       NaN               NaN  ...
                   17873                       NaN               NaN  ...
                   17874                       NaN               NaN  ...
                   17875                       NaN               NaN  ...
...                                            ...               ...  ...
Wright High School 26031                       NaN               NaN  ...
                   26032                       NaN               NaN  ...
                   26033                       NaN               NaN  ...
                   26034                       NaN               NaN  ...
                   26035                       NaN               NaN  ...

                               Wilson High School  Wright High School  budget  \
school_name        Student ID
Bailey High School 17871                      NaN                 NaN     NaN
                   17872                      NaN                 NaN     NaN
                   17873                      NaN                 NaN     NaN
                   17874                      NaN                 NaN     NaN
                   17875                      NaN                 NaN     NaN
...                                           ...                 ...     ...
Wright High School 26031                      NaN                 NaN     NaN
                   26032                      NaN                 NaN     NaN
                   26033                      NaN                 NaN     NaN
                   26034                      NaN                 NaN     NaN
                   26035                      NaN                 NaN     NaN

                               gender  grade  math_score  reading_score  size  \
school_name        Student ID
Bailey High School 17871          NaN    NaN         NaN            NaN   NaN

In [79]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
}, index=school_data["school_name"])



# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

ValueError: Data must be 1-dimensional, got ndarray of shape (39170, 24) instead

## Highest-Performing Schools (by % Overall Passing)

In [83]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = 
top_schools.head(5)

SyntaxError: invalid syntax (1609715080.py, line 2)

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = 
bottom_schools.head(5)

## Math Scores by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = 
tenth_grader_math_scores = 
eleventh_grader_math_scores = 
twelfth_grader_math_scores = 

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = 

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

## Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = 
tenth_grader_reading_scores = 
eleventh_grader_reading_scores = 
twelfth_grader_reading_scores = 

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = 

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

## Scores by School Spending

In [ ]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = 
school_spending_df

In [ ]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary = 

# Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = 
per_school_summary

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = 

# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = 

# Display results
type_summary